<form {{on "submit" (fn this.editPost model)}}>
    <div>
        <label for="title">Title</label>
        {{input type="text" id="title" value=model.title}}
    </div>

    <div>
        <label for="body">Post</label>
        {{textarea id="body" cols="80" rows="8" value=model.body}}
    </div>

    <button type="submit">Publish</button>
</form>
